includes:
    - phar://phpstan.phar/conf/config.levelmax.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/slam/phpstan-extensions/conf/slam-rules.neon
    - vendor/slam/phpstan-extensions/conf/thecodingmachine-rules.neon

parameters:
    checkMissingIterableValueType: false
    paths:
        - lib/
        - tests/
    ignoreErrors:
        - '#Constant DB_SQL_\w+ not found#'
        -
            message: '#Return type \(Db_Pdo\) of method Db_Pdo::(beginTransaction|commit|rollBack)#'
            path: %currentWorkingDirectory%/lib/Db/Pdo.php
        -
            message: '#Call to static method PHPUnit\\Framework\\Assert::assertInstanceOf\(\) with .Db_ProfilerQuery. and false will always evaluate to false#'
            path: %currentWorkingDirectory%/tests/PdoTest.php
