includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - phpstan-baseline.neon

parameters:
    level: 8
    checkMissingIterableValueType: false
    paths:
        - lib/
        - tests/
